
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}   
h2{
    text-align: center;
    border-bottom: 1px solid #888;
    text-shadow: 2px 0 0 #622fe2;
}

.container{
    max-width: 940px;
    margin: 0 auto;
    padding: 40px;
}
.container form{
    width: 90%;
    height: 100%;
    padding: 20px 10px;
    border-radius: 0 35px 35px 35px;
    margin: 0 auto;
    display: table;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
}
label{
    font-size: 19px;
    padding: 10px 10px;
    
}

.in1{
    border-radius: 10px;
    height: 45px;
    width: 70%;
}
button {
  margin: 0px 20px;
   float: right;
 
}
.a1{
    text-decoration: none;
    float: right;
    margin: 10px 20px;
    color: black;
}
.a1:hover{
    color: red;
}
.a2{
    margin: 50px 200px;
    border-radius: 30px;
    margin-top: 1rem;
    font-weight: 600;
    width: 50%;
    display: block;
    
}

.a3{
    text-decoration: none;
    
}
.a3:hover{
    color: beige;
}
